#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Ciencia  y Analitica de datos**
###Tecnológico de Monterrey

## **Actividad RETO: Aguas superficie**

**Nombres y matrículas de los integrantes del equipo:**

*   Elmer Ali Payró Costilla A01014943
*   Maria Fernanda Prieto Vargas A01794329

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
data = pd.read_csv('datos-reto-ciencia-dat/agua_superficiales.csv',index_col=0, encoding='latin-1')

In [41]:
data.head()

,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,LATITUD,...,CONTAMINANTES,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO
CLAVE,,,,,,,,,,,,,,,,,,,,,
DLAGU8,PRESA EL SAUCILLO 100M AGUAS ARRIBA DE LA CORTINA,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,RINCON DE ROMOS,RIO SAN PEDRO,PRESA EL SAUCILLO,LENTICO,PRESA,-102.33911,22.24730,...,"DQO,CF,",SI,NO,SI,NO,SI,ND,SI,SI,LENTICO
DLBAJ100,"LOS CABOS SEG 22, 2 ISA10B",PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN JOSE DEL CABO,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.84290,22.90473,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
DLBAJ101,"LOS CABOS SEG 22, 1 ISA10B",PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.86442,22.89880,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
DLBAJ102,LOS CABOS 3,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.88604,22.89609,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
DLBAJ103,LOS CABOS 1,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.89657,22.87694,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO

In [42]:
data.describe()

,LONGITUD,LATITUD,PERIODO,TOX_D_48_FON_UT,CALIDAD_TOX_D_48_FON,TOX_FIS_FON_15_UT,CALIDAD_TOX_FIS_FON_15
count,3493.000000,3493.000000,3493.0,0.0,0.0,0.0,0.0
mean,-100.359969,21.046992,2020.0,NaN,NaN,NaN,NaN
std,6.122773,3.893696,0.0,NaN,NaN,NaN,NaN
min,-117.124030,14.534910,2020.0,NaN,NaN,NaN,NaN
25%,-103.882310,18.396070,2020.0,NaN,NaN,NaN,NaN
50%,-99.795530,20.148980,2020.0,NaN,NaN,NaN,NaN
75%,-96.860230,22.828930,2020.0,NaN,NaN,NaN,NaN
max,-86.732150,32.706500,2020.0,NaN,NaN,NaN,NaN

In [43]:
data.mean()

C:\Users\elmer\AppData\Local\Temp\ipykernel_14388\531903386.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

LONGITUD                  -100.359969
LATITUD                     21.046992
PERIODO                   2020.000000
TOX_D_48_FON_UT                   NaN
CALIDAD_TOX_D_48_FON              NaN
TOX_FIS_FON_15_UT                 NaN
CALIDAD_TOX_FIS_FON_15            NaN
dtype: float64

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4141 entries, DLAGU8 to nan
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SITIO                   3493 non-null   object
 1   ORGANISMO_DE_CUENCA     3493 non-null   object
 2   ESTADO                  3493 non-null   object
 3   MUNICIPIO               3493 non-null   object
 4   CUENCA                  3492 non-null   object
 5   CUERPO DE AGUA          3479 non-null   object
 6   TIPO                    3493 non-null   object
 7   SUBTIPO                 3479 non-null   object
 8   LONGITUD                3493 non-null   float64
 9   LATITUD                 3493 non-null   float64
 10  PERIODO                 3493 non-null   float64
 11  DBO_mg/L                2581 non-null   object
 12  CALIDAD_DBO             2581 non-null   object
 13  DQO_mg/L                2581 non-null   object
 14  CALIDAD_DQO             2581 non-null   object
 15  SST_mg/L                3489 non-null   object
 16  CALIDAD_SST             3489 non-null   object
 17  COLI_FEC_NMP_100mL      2582 non-null   object
 18  CALIDAD_COLI_FEC        2582 non-null   object
 19  E_COLI_NMP_100mL        2582 non-null   object
 20  CALIDAD_E_COLI          2582 non-null   object
 21  ENTEROC_NMP_100mL       904 non-null    object
 22  CALIDAD_ENTEROC         904 non-null    object
 23  OD_PORC                 1797 non-null   object
 24  CALIDAD_OD_PORC         1797 non-null   object
 25  OD_PORC_SUP             1619 non-null   object
 26  CALIDAD_OD_PORC_SUP     1619 non-null   object
 27  OD_PORC_MED             487 non-null    object
 28  CALIDAD_OD_PORC_MED     487 non-null    object
 29  OD_PORC_FON             946 non-null    object
 30  CALIDAD_OD_PORC_FON     946 non-null    object
 31  TOX_D_48_UT             1816 non-null   object
 32  CALIDAD_TOX_D_48        1816 non-null   object
 33  TOX_V_15_UT             1819 non-null   object
 34  CALIDAD_TOX_V_15        1819 non-null   object
 35  TOX_D_48_SUP_UT         762 non-null    object
 36  CALIDAD TOX_D_48_SUP    762 non-null    object
 37  TOX_D_48_FON_UT         0 non-null      float64
 38  CALIDAD_TOX_D_48_FON    0 non-null      float64
 39  TOX_FIS_SUP_15_UT       1674 non-null   object
 40  CALIDAD_TOX_FIS_SUP_15  1674 non-null   object
 41  TOX_FIS_FON_15_UT       0 non-null      float64
 42  CALIDAD_TOX_FIS_FON_15  0 non-null      float64
 43  SEMAFORO                3493 non-null   object
 44  CONTAMINANTES           2226 non-null   object
 45  CUMPLE_CON_DBO          3493 non-null   object
 46  CUMPLE_CON_DQO          3493 non-null   object
 47  CUMPLE_CON_SST          3493 non-null   object
 48  CUMPLE_CON_CF           3493 non-null   object
 49  CUMPLE_CON_E_COLI       3493 non-null   object
 50  CUMPLE_CON_ENTEROC      3493 non-null   object
 51  CUMPLE_CON_OD           3493 non-null   object
 52  CUMPLE_CON_TOX          3493 non-null   object
 53  GRUPO                   3493 non-null   object
dtypes: float64(7), object(47)
memory usage: 1.7+ MB

In [45]:
data.columns

Index(['SITIO', 'ORGANISMO_DE_CUENCA', 'ESTADO', 'MUNICIPIO', 'CUENCA',
       'CUERPO DE AGUA', 'TIPO', 'SUBTIPO', 'LONGITUD', 'LATITUD', 'PERIODO',
       'DBO_mg/L', 'CALIDAD_DBO', 'DQO_mg/L', 'CALIDAD_DQO', 'SST_mg/L',
       'CALIDAD_SST', 'COLI_FEC_NMP_100mL', 'CALIDAD_COLI_FEC',
       'E_COLI_NMP_100mL', 'CALIDAD_E_COLI', 'ENTEROC_NMP_100mL',
       'CALIDAD_ENTEROC', 'OD_PORC', 'CALIDAD_OD_PORC', 'OD_PORC_SUP',
       'CALIDAD_OD_PORC_SUP', 'OD_PORC_MED', 'CALIDAD_OD_PORC_MED',
       'OD_PORC_FON', 'CALIDAD_OD_PORC_FON', 'TOX_D_48_UT', 'CALIDAD_TOX_D_48',
       'TOX_V_15_UT', 'CALIDAD_TOX_V_15', 'TOX_D_48_SUP_UT',
       'CALIDAD TOX_D_48_SUP', 'TOX_D_48_FON_UT', 'CALIDAD_TOX_D_48_FON',
       'TOX_FIS_SUP_15_UT', 'CALIDAD_TOX_FIS_SUP_15', 'TOX_FIS_FON_15_UT',
       'CALIDAD_TOX_FIS_FON_15', 'SEMAFORO', 'CONTAMINANTES', 'CUMPLE_CON_DBO',
       'CUMPLE_CON_DQO', 'CUMPLE_CON_SST', 'CUMPLE_CON_CF',
       'CUMPLE_CON_E_COLI', 'CUMPLE_CON_ENTEROC', 'CUMPLE_CON_OD',
       'CUMPLE_CON_TOX', 'GRUPO'],
      dtype='object')

In [46]:
data.drop_duplicates(inplace=True)
print (f'tamaño de las filas repeditas: {data.shape}')

tamaño de las filas repeditas: (3494, 54)

In [47]:
data.drop(['PERIODO','TOX_D_48_FON_UT','CALIDAD_TOX_D_48_FON','TOX_FIS_FON_15_UT','CALIDAD_TOX_FIS_FON_15'],  axis = 'columns', inplace=True)
data.head (5)

,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,LATITUD,...,CONTAMINANTES,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO
CLAVE,,,,,,,,,,,,,,,,,,,,,
DLAGU8,PRESA EL SAUCILLO 100M AGUAS ARRIBA DE LA CORTINA,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,RINCON DE ROMOS,RIO SAN PEDRO,PRESA EL SAUCILLO,LENTICO,PRESA,-102.33911,22.24730,...,"DQO,CF,",SI,NO,SI,NO,SI,ND,SI,SI,LENTICO
DLBAJ100,"LOS CABOS SEG 22, 2 ISA10B",PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN JOSE DEL CABO,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.84290,22.90473,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
DLBAJ101,"LOS CABOS SEG 22, 1 ISA10B",PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.86442,22.89880,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
DLBAJ102,LOS CABOS 3,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.88604,22.89609,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
DLBAJ103,LOS CABOS 1,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.89657,22.87694,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO

In [48]:
data.describe()

          LONGITUD      LATITUD
count  3493.000000  3493.000000
mean   -100.359969    21.046992
std       6.122773     3.893696
min    -117.124030    14.534910
25%    -103.882310    18.396070
50%     -99.795530    20.148980
75%     -96.860230    22.828930
max     -86.732150    32.706500

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3494 entries, DLAGU8 to nan
Data columns (total 49 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SITIO                   3493 non-null   object
 1   ORGANISMO_DE_CUENCA     3493 non-null   object
 2   ESTADO                  3493 non-null   object
 3   MUNICIPIO               3493 non-null   object
 4   CUENCA                  3492 non-null   object
 5   CUERPO DE AGUA          3479 non-null   object
 6   TIPO                    3493 non-null   object
 7   SUBTIPO                 3479 non-null   object
 8   LONGITUD                3493 non-null   float64
 9   LATITUD                 3493 non-null   float64
 10  DBO_mg/L                2581 non-null   object
 11  CALIDAD_DBO             2581 non-null   object
 12  DQO_mg/L                2581 non-null   object
 13  CALIDAD_DQO             2581 non-null   object
 14  SST_mg/L                3489 non-null   object
 15  CALIDAD_SST             3489 non-null   object
 16  COLI_FEC_NMP_100mL      2582 non-null   object
 17  CALIDAD_COLI_FEC        2582 non-null   object
 18  E_COLI_NMP_100mL        2582 non-null   object
 19  CALIDAD_E_COLI          2582 non-null   object
 20  ENTEROC_NMP_100mL       904 non-null    object
 21  CALIDAD_ENTEROC         904 non-null    object
 22  OD_PORC                 1797 non-null   object
 23  CALIDAD_OD_PORC         1797 non-null   object
 24  OD_PORC_SUP             1619 non-null   object
 25  CALIDAD_OD_PORC_SUP     1619 non-null   object
 26  OD_PORC_MED             487 non-null    object
 27  CALIDAD_OD_PORC_MED     487 non-null    object
 28  OD_PORC_FON             946 non-null    object
 29  CALIDAD_OD_PORC_FON     946 non-null    object
 30  TOX_D_48_UT             1816 non-null   object
 31  CALIDAD_TOX_D_48        1816 non-null   object
 32  TOX_V_15_UT             1819 non-null   object
 33  CALIDAD_TOX_V_15        1819 non-null   object
 34  TOX_D_48_SUP_UT         762 non-null    object
 35  CALIDAD TOX_D_48_SUP    762 non-null    object
 36  TOX_FIS_SUP_15_UT       1674 non-null   object
 37  CALIDAD_TOX_FIS_SUP_15  1674 non-null   object
 38  SEMAFORO                3493 non-null   object
 39  CONTAMINANTES           2226 non-null   object
 40  CUMPLE_CON_DBO          3493 non-null   object
 41  CUMPLE_CON_DQO          3493 non-null   object
 42  CUMPLE_CON_SST          3493 non-null   object
 43  CUMPLE_CON_CF           3493 non-null   object
 44  CUMPLE_CON_E_COLI       3493 non-null   object
 45  CUMPLE_CON_ENTEROC      3493 non-null   object
 46  CUMPLE_CON_OD           3493 non-null   object
 47  CUMPLE_CON_TOX          3493 non-null   object
 48  GRUPO                   3493 non-null   object
dtypes: float64(2), object(47)
memory usage: 1.3+ MB

In [78]:
# Reemplazando notación matemática y transformando a tipo double
numeric_features = ['TOX_D_48_UT','TOX_V_15_UT','TOX_D_48_SUP_UT','TOX_FIS_SUP_15_UT','DBO_mg/L','DQO_mg/L','SST_mg/L','OD_PORC','OD_PORC_SUP','OD_PORC_MED','OD_PORC_FON','COLI_FEC_NMP_100mL','E_COLI_NMP_100mL','ENTEROC_NMP_100mL']

data[['TOX_D_48_UT','TOX_V_15_UT','TOX_D_48_SUP_UT','TOX_FIS_SUP_15_UT']] = data[['TOX_D_48_UT','TOX_V_15_UT','TOX_D_48_SUP_UT','TOX_FIS_SUP_15_UT']].replace('<1','0.5')

data['DBO_mg/L'] = data['DBO_mg/L'].replace('<2','1')

data[['DQO_mg/L','SST_mg/L','OD_PORC','OD_PORC_SUP','OD_PORC_MED','OD_PORC_FON']] = data[['DQO_mg/L','SST_mg/L','OD_PORC','OD_PORC_SUP','OD_PORC_MED','OD_PORC_FON']].replace('<10','9')

data[['COLI_FEC_NMP_100mL','E_COLI_NMP_100mL','ENTEROC_NMP_100mL']] = data[['COLI_FEC_NMP_100mL','E_COLI_NMP_100mL','ENTEROC_NMP_100mL']].replace('<3','2')


data[numeric_features] = data[numeric_features].astype('double')

In [55]:
data['DBO_mg/L'].isna().sum() # Aun quedan nulls pero debe ser asi para no interferir con los otros valores

913

In [56]:
data['DBO_mg/L'].count()

2581

In [63]:
# Revisando la cantidad de datos faltantes
data.isna().sum() / np.max(data.count()) * 100

SITIO                      0.028629
ORGANISMO_DE_CUENCA        0.028629
ESTADO                     0.028629
MUNICIPIO                  0.028629
CUENCA                     0.057257
CUERPO DE AGUA             0.429430
TIPO                       0.028629
SUBTIPO                    0.429430
LONGITUD                   0.028629
LATITUD                    0.028629
DBO_mg/L                  26.137990
CALIDAD_DBO               26.137990
DQO_mg/L                  26.137990
CALIDAD_DQO               26.137990
SST_mg/L                   0.143143
CALIDAD_SST                0.143143
COLI_FEC_NMP_100mL        26.109362
CALIDAD_COLI_FEC          26.109362
E_COLI_NMP_100mL          26.109362
CALIDAD_E_COLI            26.109362
ENTEROC_NMP_100mL         74.148297
CALIDAD_ENTEROC           74.148297
OD_PORC                   48.582880
CALIDAD_OD_PORC           48.582880
OD_PORC_SUP               53.678786
CALIDAD_OD_PORC_SUP       53.678786
OD_PORC_MED               86.086459
CALIDAD_OD_PORC_MED       86.086459
OD_PORC_FON               72.945892
CALIDAD_OD_PORC_FON       72.945892
TOX_D_48_UT               48.038935
CALIDAD_TOX_D_48          48.038935
TOX_V_15_UT               47.953049
CALIDAD_TOX_V_15          47.953049
TOX_D_48_SUP_UT           78.213570
CALIDAD TOX_D_48_SUP      78.213570
TOX_FIS_SUP_15_UT         52.104208
CALIDAD_TOX_FIS_SUP_15    52.104208
SEMAFORO                   0.028629
CONTAMINANTES             36.301174
CUMPLE_CON_DBO             0.028629
CUMPLE_CON_DQO             0.028629
CUMPLE_CON_SST             0.028629
CUMPLE_CON_CF              0.028629
CUMPLE_CON_E_COLI          0.028629
CUMPLE_CON_ENTEROC         0.028629
CUMPLE_CON_OD              0.028629
CUMPLE_CON_TOX             0.028629
GRUPO                      0.028629
dtype: float64

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3494 entries, DLAGU8 to nan
Data columns (total 49 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SITIO                   3493 non-null   object
 1   ORGANISMO_DE_CUENCA     3493 non-null   object
 2   ESTADO                  3493 non-null   object
 3   MUNICIPIO               3493 non-null   object
 4   CUENCA                  3492 non-null   object
 5   CUERPO DE AGUA          3479 non-null   object
 6   TIPO                    3493 non-null   object
 7   SUBTIPO                 3479 non-null   object
 8   LONGITUD                3493 non-null   float64
 9   LATITUD                 3493 non-null   float64
 10  DBO_mg/L                2581 non-null   float64
 11  CALIDAD_DBO             2581 non-null   object
 12  DQO_mg/L                2581 non-null   float64
 13  CALIDAD_DQO             2581 non-null   object
 14  SST_mg/L                3489 non-null   float64
 15  CALIDAD_SST             3489 non-null   object
 16  COLI_FEC_NMP_100mL      2582 non-null   float64
 17  CALIDAD_COLI_FEC        2582 non-null   object
 18  E_COLI_NMP_100mL        2582 non-null   float64
 19  CALIDAD_E_COLI          2582 non-null   object
 20  ENTEROC_NMP_100mL       904 non-null    float64
 21  CALIDAD_ENTEROC         904 non-null    object
 22  OD_PORC                 1797 non-null   float64
 23  CALIDAD_OD_PORC         1797 non-null   object
 24  OD_PORC_SUP             1619 non-null   float64
 25  CALIDAD_OD_PORC_SUP     1619 non-null   object
 26  OD_PORC_MED             487 non-null    float64
 27  CALIDAD_OD_PORC_MED     487 non-null    object
 28  OD_PORC_FON             946 non-null    float64
 29  CALIDAD_OD_PORC_FON     946 non-null    object
 30  TOX_D_48_UT             1816 non-null   float64
 31  CALIDAD_TOX_D_48        1816 non-null   object
 32  TOX_V_15_UT             1819 non-null   float64
 33  CALIDAD_TOX_V_15        1819 non-null   object
 34  TOX_D_48_SUP_UT         762 non-null    float64
 35  CALIDAD TOX_D_48_SUP    762 non-null    object
 36  TOX_FIS_SUP_15_UT       1674 non-null   float64
 37  CALIDAD_TOX_FIS_SUP_15  1674 non-null   object
 38  SEMAFORO                3493 non-null   object
 39  CONTAMINANTES           2226 non-null   object
 40  CUMPLE_CON_DBO          3493 non-null   object
 41  CUMPLE_CON_DQO          3493 non-null   object
 42  CUMPLE_CON_SST          3493 non-null   object
 43  CUMPLE_CON_CF           3493 non-null   object
 44  CUMPLE_CON_E_COLI       3493 non-null   object
 45  CUMPLE_CON_ENTEROC      3493 non-null   object
 46  CUMPLE_CON_OD           3493 non-null   object
 47  CUMPLE_CON_TOX          3493 non-null   object
 48  GRUPO                   3493 non-null   object
dtypes: float64(16), object(33)
memory usage: 1.3+ MB